@import "settings";
@import "../node_modules/normalize.css/normalize";
// @import "foundation";
@import "../node_modules/tachyons-sass/scss/variables";
@import "../node_modules/tachyons-sass/scss/flexbox";
// @import "../node_modules/tachyons-sass/scss/type-scale";
@import "../node_modules/tachyons-sass/scss/spacing";

@font-face {
    font-family: 'd-din';
    src: url('../assets/D-DINCondensed-Bold.woff2') format('woff2'),
         url('../assets/D-DINCondensed-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: $body-font-family;
    background-color: #1f1f1f;
    color: #5f6366;
    line-height: 1.5;
    position: relative;
}


img {
    max-width: 100%;
}

.container {
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vh;
    padding-left: 5vw;
    padding-right: 5vw;
    @include breakpoint(large) {
        width: 40%;
    }
}


.f-headline {
    font-family: 'd-din', Arial;
    text-transform: uppercase;
    font-size: 5rem;
    color: #c2cfd5;
    line-height: 1;
    margin: -3.5rem 0 -0.5rem;
    font-weight: normal;
    transform: scaleY(1.1);
    @include breakpoint(medium) {
        font-size: 8rem;
        margin-top: -4rem;
    }
    @include breakpoint(xlarge) {
        font-size: 12rem;
        margin-top: -7rem;
    }
}

.main {
    width: min-content;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-left: auto;
}

p {
    margin-top: 0;
    font-size: rem-calc(14);
}


footer {
    font-family: monospace;
    p {
        margin-top: 3rem;
    }
    @include breakpoint(medium) {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        display: flex;
        writing-mode: sideways-lr;
        p {
            margin: auto;
        }
    }
}
