doctype html
html(lang="en").no-js
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title title
    meta(name="description", content="description")
    link(rel="preload", href="styles.css", as="style")
    link(rel="stylesheet", href="styles.css")

  body

    a(href="#main").show-for-sr Skip to main content

    .container
      main#main
        h1 title
        p This is a webpage
